*{
margin: 0;
padding: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;



.no-scrollbar::-webkit-scrollbar{
      display: none;
  }

.prompt-item:hover{
    .copy-button{
           display: block;
    }
}  
.actives{
.op{
    display: block;
}
}